<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: aqua;
            
            display: flex;
            justify-content: space-around;

            align-items: center;
            height: 100vh;
        }
        .box{
            height: 300px;
            width:200px;
            background-color: rgb(233, 16, 143);
            margin: 2px;
            
        }
    </style>
</head>
<body>
    <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

</body>
</html>