<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .continer{
        height: 30%;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
    }
    a{
        font-size: 30px;
    }

    </style>
</head>
<body>
    <div class="container">
        <a href="G">GourmetauCatering</a>
        <a href="A">About</a>
        <a href="M">Menu</a>
        <a href="C">contact</a>
    </div>
    <div class="img-box"></div>
    <div class="about"></div>
    <div class="menu"></div>
    <div class="contect"></div>
</body>
</html>